.sudoku-box {
  width: 600px;
  margin: 0 auto;
  font-size: 16px;

  h3 {
    line-height: 40px;
    text-align: center;
  }

  .sudoku-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;

    .sudoku-row {
      display: flex;
      justify-content: space-between;
      height: 10.6%;

      &:nth-child(3n) {
        margin-bottom: 0.5%;
      }

      .sudoku-point {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 10.6%;
        text-align: center;
        background: #eeeeee;

        &:nth-child(3n) {
          margin-right: 0.5%;
        }

        &.select {
          background: #8b7f9f;
        }

        &.default {
          background-color: #ffeee2;
        }

        &.warn {
          background: #ffd39c;
        }

        &.error {
          background: #ff7772;
        }

      }
  }

  }

  .sudoku-choose {
    display: flex;
    justify-content: space-between;
    height: 40px;

    .sudoku-point {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      text-align: center;
      background: #eeeeee;
    }
  }
}