.sudoku-box {
  width: 600px;
  margin: 0 auto;
  font-size: 16px;

  h3 {
    line-height: 40px;
    text-align: center;
  }

  .sudoku-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;

  }

  .sudoku-row {
    display: flex;
    justify-content: space-between;
    line-height: 64px;

    &:nth-child(3n) {
      margin-bottom: 2px;
    }

    .sudoku-point {
      display: inline-block;
      width: 64px;
      text-align: center;
      background: #eeeeee;

      &:nth-child(3n) {
        margin-right: 2px;
      }

      &.select {
        background: #8b7f9f;
      }

      &.default {
        background-color: #ffeee2;
      }

      &.warn {
        background: #ffd39c;
      }

      &.error {
        background: #ff7772;
      }

    }
  }
}